In [1]:
#dependencies
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [2]:
#read in data

In [3]:
#df.describe

In [4]:
#df.isnull().count()

In [5]:
#df.dropna()

In [6]:
#df.drop_duplicates()

In [7]:
#df.dtypes

In [ ]:
# look at columns and data, how clean does the data look? is it ready to run into a tableau notebook? if not do further data transformation

In [ ]:
#if ready
#switch to pgadmin and set up database
#set up config file 
#set up connection to postgres database
#load data to postgres using: 
#    db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"
    #engine = create_engine(db_string)
    #movies_df.to_sql(name='movies', con=engine, if_exists='replace', method='multi')
#movies_df is the dataframe and movie_data is the postgres database