In [18]:
#dependencies
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [19]:
#read in data
real_fake_df = pd.read_csv('fake_job_postings.csv', index_col=0)
real_fake_df.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [20]:
#df.describe
real_fake_df.describe()

       telecommuting  has_company_logo  has_questions    fraudulent
count   17880.000000      17880.000000   17880.000000  17880.000000
mean        0.042897          0.795302       0.491723      0.048434
std         0.202631          0.403492       0.499945      0.214688
min         0.000000          0.000000       0.000000      0.000000
25%         0.000000          1.000000       0.000000      0.000000
50%         0.000000          1.000000       0.000000      0.000000
75%         0.000000          1.000000       1.000000      0.000000
max         1.000000          1.000000       1.000000      1.000000

In [21]:
real_fake_df["fraudulent"].value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64

In [22]:
real_fake_df.dtypes

title                  object
location               object
department             object
salary_range           object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
fraudulent              int64
dtype: object

In [23]:
real_fake_df=real_fake_df.drop(columns=["salary_range", "department", "benefits", "required_education", "function", "required_experience" ], axis=1)
real_fake_df.dtypes

title               object
location            object
company_profile     object
description         object
requirements        object
telecommuting        int64
has_company_logo     int64
has_questions        int64
employment_type     object
industry            object
fraudulent           int64
dtype: object

In [24]:
real_fake_df.nunique()

title               11231
location             3105
company_profile      1709
description         14801
requirements        11968
telecommuting           2
has_company_logo        2
has_questions           2
employment_type         5
industry              131
fraudulent              2
dtype: int64

In [25]:
#df.isnull().count()
real_fake_df.isna().count()

title               17880
location            17880
company_profile     17880
description         17880
requirements        17880
telecommuting       17880
has_company_logo    17880
has_questions       17880
employment_type     17880
industry            17880
fraudulent          17880
dtype: int64

In [26]:
#df.dropna()
df=real_fake_df.dropna()
#df=df.dropna(axis=0)

In [27]:
len(df)

9702

In [28]:
df["fraudulent"].value_counts()

0    9463
1     239
Name: fraudulent, dtype: int64

In [29]:
df.head()

,title,location,company_profile,description,requirements,telecommuting,has_company_logo,has_questions,employment_type,industry,fraudulent
job_id,,,,,,,,,,,
2,Customer Service - Cloud Video Production,"NZ, , Auckland","90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,0,1,0,Full-time,Marketing and Advertising,0
4,Account Executive - Washington DC,"US, DC, Washington",Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",0,1,0,Full-time,Computer Software,0
5,Bill Review Manager,"US, FL, Fort Worth",SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,0,1,1,Full-time,Hospital & Health Care,0
7,Head of Content (m/f),"DE, BE, Berlin","Founded in 2009, the Fonpit AG rose with its i...",Your Responsibilities: Manage the English-spea...,Your Know-How: ...,0,1,1,Full-time,Online Media,0
9,HP BSM SME,"US, FL, Pensacola",Solutions3 is a woman-owned small business who...,Implementation/Configuration/Testing/Training ...,MUST BE A US CITIZEN.An active TS/SCI clearanc...,0,1,1,Full-time,Information Technology and Services,0

In [30]:
real_fake_df.count()

title               17880
location            17534
company_profile     14572
description         17879
requirements        15185
telecommuting       17880
has_company_logo    17880
has_questions       17880
employment_type     14409
industry            12977
fraudulent          17880
dtype: int64

In [31]:
#df.drop_duplicates()
real_fake_df.drop_duplicates()

,title,location,company_profile,description,requirements,telecommuting,has_company_logo,has_questions,employment_type,industry,fraudulent
job_id,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York","We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,0,1,0,Other,NaN,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland","90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,0,1,0,Full-time,Marketing and Advertising,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,0,1,0,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",0,1,0,Full-time,Computer Software,0
5,Bill Review Manager,"US, FL, Fort Worth",SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,0,1,1,Full-time,Hospital & Health Care,0
...,...,...,...,...,...,...,...,...,...,...,...
17876,Account Director - Distribution,"CA, ON, Toronto",Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,0,1,1,Full-time,Computer Software,0
17877,Payroll Accountant,"US, PA, Philadelphia",WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,0,1,1,Full-time,Internet,0
17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,0,0,0,Full-time,NaN,0
17879,Graphic Designer,"NG, LA, Lagos",NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,0,0,1,Contract,Graphic Design,0
17880,Web Application Developers,"NZ, N, Wellington",Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,0,1,1,Full-time,Computer Software,0

In [32]:
real_fake_df.count()

title               17880
location            17534
company_profile     14572
description         17879
requirements        15185
telecommuting       17880
has_company_logo    17880
has_questions       17880
employment_type     14409
industry            12977
fraudulent          17880
dtype: int64

In [33]:
#df.dtypes
real_fake_df.dtypes

title               object
location            object
company_profile     object
description         object
requirements        object
telecommuting        int64
has_company_logo     int64
has_questions        int64
employment_type     object
industry            object
fraudulent           int64
dtype: object

In [36]:
#if ready
#switch to pgadmin and set up database
#set up config file 
#set up connection to postgres database
#load data to postgres using: 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/job_posting"
engine = create_engine(db_string)
df.to_sql(name='movies', con=engine, if_exists='replace', method='multi')
#movies_df is the dataframe and movie_data is the postgres database

9702